.health-bar-background .unity-progress-bar__progress {
    background-color: red; /* Health Bar */
}

.frostbite-bar-background .unity-progress-bar__progress {
    background-color: cadetblue; /* Frostbite Bar */
}
